@{
    ViewData["Title"] = "Documentação";
}
<h1>@ViewData["Title"]</h1>
<br/>

<p>Para acessar o Swagger <a href="https://localhost:44370/swagger/index.html"><strong>Clique Aqui</strong></a>.</p>




